.hero {
  position: relative;
  height: 100vh; 
  padding: 5vw; /* Dynamic padding: 5% of viewport width on all sides */
}

.spline-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.botpress-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2; 
}

/* Gradient Text */
.gradient-text {
  background: linear-gradient(90deg, #ea89aa, #aaeaab);
  -webkit-background-clip: text;
  color: transparent;
  display: inline; /* Ensure text does not turn into a block */
}

.custom-heading {
  color: #4c1149; /* Text color */
  margin-top: 10px; /* Adjust margin to reposition */
}

