.hero {
  position: relative;
  height: 100vh; 
  padding: 5vw; /* Dynamic padding: 5% of viewport width on all sides */
}

.spline-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.botpress-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2; 
} 

/* Add this to your Home.css */
.gradient-text {
  background: linear-gradient(90deg, #ea89aa, #aa87ea, #87eaea); /* Example gradient colors */
  -webkit-background-clip: text; /* Clip background to text */
  -webkit-text-fill-color: transparent; /* Make text color transparent */
  transition: background 0.5s ease; /* Smooth transition for color change */
}

